$max-width: 1200px;
$primary-color: rgb(255, 255, 113);
$primary-color2: #EF6D6D;

$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/bg.jpeg");
// rgb(255, 255, 113)